<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Hello! My name is Scott, Recent graduate with honors from Metropolitan Community College, holding an Associate's Degree in 3D Animation and Games. I possess extensive experience with the Unity game engine, 
          utilizing C# for developing gameplay mechanics, object-oriented programming, and procedural generation across various game genres. Proficient in Blender and Photoshop for creating, editing, and 
          texturing 3D assets. During a 1.5-year internship, I rapidly prototyped game concepts based on detailed game design documents, showcasing my technical skills in coding, modeling, and development. 
          This led to my appointment as Lead Developer, where I successfully managed a team, refined my leadership abilities, and ensured the timely delivery of project goals. </p>
      </div>
      <div class="col-lg-4">
        <p>I am looking to work as a Unity Gameplay Programmer or Unity Game Developer. 
          </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://swesdkts.itch.io/" class="btn btn-lg btn-outline">
          <i class="fa fa-external-link" aria-hidden="true"></i> Visit itch.io
        </a>
      </div>
    </div>
  </div>
</section>
