<!-- Portfolio Grid Section -->
<section id="portfolio">
  <div class="container portfolio-flex-grid">
    <h2 class="text-center">Portfolio</h2>
    <hr class="star-primary">

    <!-- Game Development -->
    <h3>Game Development</h3>
    <div class="portfolio-flex-row">
      {% for item in site.portfolio %}
        {% if item.categories contains "game-dev" %}
          {% include portfolio-item.html item=item %}
        {% endif %}
      {% endfor %}
    </div>

    <!-- Software & Tools -->
    <h3>Software & Tools</h3>
    <div class="portfolio-flex-row">
      {% for item in site.portfolio %}
        {% if item.categories contains "software" %}
          {% include portfolio-item.html item=item %}
        {% endif %}
      {% endfor %}
    </div>

    <!-- 3D Art -->
    <h3>3D Art</h3>
    <div class="portfolio-flex-row">
      {% for item in site.portfolio %}
        {% if item.categories contains "3d-art" %}
          {% include portfolio-item.html item=item %}
        {% endif %}
      {% endfor %}
    </div>

  </div>
</section>
